{% extends 'layout.html.twig' %}

{% block javascript %}
{% endblock %}

{% block content %}
   <header class="container">
        <h1 class="text-center">
            <img class="img-fluid" src="/assets/images/daily_buggle_logo.png" />
        </h1>
   </header>
   

   <main>
        <div class="container px-4 py-5">
            <div class="row align-items-center g-5 py-5" id="headline">
                <div class="col-12 d-flex justify-content-center">
                    <img id="headlinePictureDetails" src="{{article.picture}}" class="img-fluid" loading="lazy">
                </div>
                <div class="col-lg-12">
                    <h1 class="display-1 fw-bold text-center" id="headlineTitle">{{article.title}}</h1>
                </div>
                <div class="col-lg-8 mx-auto">
                    <p class="px-5 text-justify" id="headlineContent">{{article.content}}</p>
                    <cite class="float-end">by {{article.author}}</cite>
                </div>

            </div>
        </div>
   </main>
{% endblock %}